{% assign category_pages = "" | split: "!" %}
{% assign page_category = page.categories | first %}

{% for site_page in site.pages %}
  {% if site_page.categories contains page_category %}
    {% assign category_pages = category_pages | push: site_page %}
  {% endif %}
{% endfor %}

{% assign category_pages = category_pages | sort: "title" %}

<h2>{{ page_category }}</h2>
<ul>
  {% for category_page in category_pages %}
    {% unless category_page.path contains "index.md" %}
      <li>
        <a href="{{ site.url }}{{ category_page.url | relative_url }}">
          {% if category_page.title %}
            {{ category_page.title }}
          {% else %}
            {{ category_page.path | split: "/" | last }}
          {% endif %}
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
