<!--
  Google Analytics
-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RQJFQVBGSW"></script>
<script src="{{ site.baseurl }}/assets/js/ga.js"></script>

<!--
  Google tag manager
-->
<script src="{{ site.baseurl }}/assets/js/tag_manager_head.js"></script>
<!--
  MathJax
-->
<script src="{{ site.baseurl }}/assets/js/config.mathjax.js" defer></script>
<script type="text/javascript" id="MathJax-script" defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
<!--
  pseudocode.js
-->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pseudocode.min.css" type="text/css"/>
<script src="{{ site.baseurl }}/assets/js/pseudocode.min.js"></script>
<!--
  KaTex
-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css"
  integrity="sha384-L/SNYu0HM7XECWBeshTGLluQO9uVI1tvkCtunuoUbCHHoTH76cDyXty69Bb9I0qZ"
  crossorigin="anonymous">
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.js"
  integrity="sha384-ad+n9lzhJjYgO67lARKETJH6WuQVDDlRfj81AJJSswMyMkXTD49wBj5EP004WOY6"
  crossorigin="anonymous"></script>

<!-- Google Search Console -->
<meta name="google-site-verification" content="zPgaj3-FMOh69hsxrbyRUiu4peGiHf9eWBYrYFKuvZw" />

<!-- mermaid.js -->
<script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (function (e) {
      mermaid.initialize({
        startOnLoad:true,
        theme: "default",
      });
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    })
  );
</script>

