<!DOCTYPE html>
<html>
  <head>
    {% include slate_head.html %}
  </head>
  <body>
    {% include common_body.html %}

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      {% include slate_header.html %}
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% include categories_list.html %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      {% include slate_footer.html %}
    </div>
  </body>
</html>
